<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 로그인용 쿼리문 -->
	<select id="login" parameterType="member" resultType="member">
		SELECT
		USER_ID userId,
		USER_PWD userPwd,
		USER_NAME userName,
		EMAIL,
		GENDER,
		AGE,
		PHONE,
		ADDRESS,
		ENROLL_DATE enrollDate,
		MODIFY_DATE modifyDate,
		STATUS
		FROM
		MEMBER
		WHERE
		USER_ID = #{userId}
		AND
		STATUS ='Y'
		<!-- AND USER_PWD = #{userPwd} AND STATUS = 'Y' -->
	</select>

	<insert id="insert" parameterType="member">
		INSERT
		INTO
		MEMBER
		(
		USER_ID,
		USER_PWD,
		USER_NAME,
		EMAIL,
		GENDER,
		AGE,
		PHONE,
		ADDRESS
		)
		VALUES
		(
		#{userId},
		#{userPwd},
		#{userName},
		#{email},
		#{gender},
		#{age},
		#{phone},
		#{address}
		)
	</insert>

	<update id="update" parameterType="member">
		UPDATE MEMBER
		SET
			USER_NAME = #{userName},
			EMAIL = #{email},
			AGE = #{age},
			PHONE = #{phone},
			ADDRESS = #{address},
			GENDER = #{gender},
			MODIFY_DATE = SYSDATE
		WHERE 
			USER_ID = #{userId} 
	</update>
	<update id="delete">
    UPDATE MEMBER
    SET 
    	STATUS = 'N',
        MODIFY_DATE = SYSDATE
    WHERE 
    	USER_ID = #{userId}
	</update>
	<!-- 아이디 중복체크용 쿼리 -->
	<select id="idCheck" parameterType="string" resultType="_int">
  SELECT 
    	 COUNT(*)
    FROM
    	 MEMBER
   WHERE 
		  USER_ID = #{userId} 

	</select>
	
	
</mapper>
